<div class="col-10 offset-1 about" >
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://https://github.com/ansonmela">Anson</a> who is current bootcamp cohort at The Firehose Project.
	</p>
	<br />
	<p>
		This application was built with assistance from the The Firehose Project as part of the software engineering bootcamp track.
	</p>

	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
	</p>

<div class="row">
	<div class="col-12 col-sm-4">
		<%= image_tag 'IMG_1330.JPG', class: 'img-fluid' %>
	</div>

<div class="col-12 col-sm-7 offset-sm-1">
	<h2 class="text-center"> Anson Melakayil</h2>
	<br />
	<p>
		Anson Melakayil is a recent biology graduate that is looking for a career that is rewarding as well as interesting. He tapped into his innate interest in tech by dabbling in some code and eventually decided to finish his biology degree and pursue software engineering after graduation.
	</p>
</div>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />


